.nav-body {
    background-color: tomato;
}
.nav-body a {
    color: white;
}

@font-face {
    font-family: 'Gropled';
    font-style: normal;
    src: url('../fonts/Gropled-Bold.otf') format('truetype');
}

h1, h5 {
    font-family: "Gropled", sans-serif;
}

a {
    text-decoration: none;
}