.nav-body {
    background-color: tomato;
}
.nav-body a {
    color: white;
}

@font-face {
    font-family: 'Gropled';
    font-style: normal;
    src: url('../fonts/Gropled-Bold.otf') format('truetype');
}

#logo-text {
    font-family: "Gropled", sans-serif;
}

a {
    text-decoration: none;
}

.main-img {
    height: 400px;
}

td {
    background: mintcream;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea, select, tr {
    color: #303030;
}